*,
*::after,
*::before{
    box-sizing: border-box; 
}

h2 {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul.menu__list {
    list-style: none; /* убрать точки в списке */
}

/*-------------------------------------------

[start] HEADER ->

-------------------------------------------*/

/*-------------------------------------------
[start] HEADER GENERAL BLOCK:
-------------------------------------------*/
.header {
    max-width: 1200px; /* задать максимальную ширину хедера */
    margin: 0 auto; /* центрировать хедер по горизонтали */
}

.header__upline {
    background-color: #D9D9D9;
    border-radius: 0 0 20px 20px; /* применить скругление углов */
}

.menu__list {
    
    display: flex; /* расположить пункты меню в строку */
    justify-content: space-between; /* распределить пункты меню по всей строке */
    /* align-items: center; */
    font-family: 'Roboto', sans-serif; /* подключить необходимый шрифт для пунктов меню */
    font-size: 24px; /* установить размер шрифта */
    padding: 0; /* избавиться от лишних отступов */
    margin: 0 auto; /* избавиться от лишних отступов */
}

.menu__link {
    display: flex; /* включить flex для центровки текста пунктов меню по вертикали */
    padding: 33px 22px 33px 22px; /* установить отступы для текста пунктов меню */
    transition: all 0.3s; /* включить плавное изменение цветов при наведении указателя */
}

.menu__link:hover {
    background-color: #000000; /* установить цвет фона при наведении указателя */
    color: #ffffff; /* установить цвет текста при наведении указателя */
}

#about_me {
    border-radius: 0 0 0 20px; /* установить скругление угла для ABOUT ME */
}

#my_contacts {
    border-radius: 0 0 20px 0; /* установить скругление угла для MY CONTACTS */
}

.header__photoline {
    /* background-color: #00ff4c; установить цвет фона для блока с фото м именем #test */
    display: flex; /* выстроить дочерние блоки в строку */
    justify-content: space-between; /* распределить дочерние блоки по сторонам */
}

.photoline__photo {
    /* background-color: #000000; установить цвет фона для блока #test */
    margin-left: 30px;
    margin-right: 10px;
}

.photo-img {
    /* background-color: #fbff00; установить цвет фона для блока #test */
    width: 450px;/* установить ширину рамки для фото */
    height: 450px; /* установить высоту рамки для фото */
    margin: 50px 50px 50px 60px;
}

.photoline__name-text {
    /* background-color: #5900ff; установить цвет фона для блока #test */
    margin-right: 30px;
    margin-left: 10px;
    display:flex;
    flex-direction: column;
}

.first_name,
.last_name {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 96px;
    font-weight: 400;
}

.first_name {
    margin-top: 160px;
    margin-right: 176px;
}

.last_name {
    margin-left: 190px;
}
/*-------------------------------------------

[end] HEADER ->

-------------------------------------------*/

/*-------------------------------------------

[start] DESCRIPTION ->

-------------------------------------------*/

.description {
    max-width: 1200px; /* установить максимальную ширину блока */
    margin: 0 auto; /* держать блок по центру страницы */
    display: flex; /* установить дочерние блоки в строку (2 колонны рядом) */
    justify-content: space-between; /* прижать 2 колонный к разным сторонам */
}

.description__column_left {
    margin-left: 30px; /* установить отступ */
    max-width: 560px; /* установить максимальную ширину блока */
}

.description__column_right {
    margin-right: 30px; /* установить отступ */
    max-width: 560px; /* установить максимальную ширину блока */
}

.line {
    border-bottom: 4px solid #000000; /* стилизовать линию */
    max-width: 560px; /* установить максимальную длину линии */
}

/*-------------------------------------------
[start] ABOUT ME:
-------------------------------------------*/
.aboutme__textframe {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9; /* обознаячить границу подложки под текст */
    border-radius: 10px; /* скруглить углы подложки */
    margin-top: 20px; /* отступить сверху */
}

.aboutme-text {
    margin: 16px 12px 16px 12px;
}
/*-------------------------------------------
[end] ABOUT ME:
-------------------------------------------*/


/*-------------------------------------------
[start] MY SKILLS:
-------------------------------------------*/
.myskills__textframe {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9; /* обознаячить границу подложки под текст */
    border-radius: 10px; /* скруглить углы подложки */
    margin-top: 20px; /* отступить сверху */
}

.skills__list {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
}
/*-------------------------------------------
[end] MY SKILLS:
-------------------------------------------*/


/*-------------------------------------------
[start] CODE EXAMPLES:
-------------------------------------------*/
.codeexamples__textframe {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9; /* обознаячить границу подложки под текст */
    border-radius: 10px; /* скруглить углы подложки */
    margin-top: 20px; /* отступить сверху */
}

.code__block {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.code__block-text {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.move-return {
    margin-left: 30px;
}

/*-------------------------------------------
[end] CODE EXAMPLES:
-------------------------------------------*/


/*-------------------------------------------
---------------------------------------------
[start] COLUMNT RIGHT ->
---------------------------------------------
-------------------------------------------*/

/*-------------------------------------------
[start] EDUCATION:
-------------------------------------------*/
.education__textframe {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9; /* обознаячить границу подложки под текст */
    border-radius: 10px; /* скруглить углы подложки */
    margin-top: 20px; /* отступить сверху */
}

.education__list {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

/*-------------------------------------------
[end] EDUCATION:
-------------------------------------------*/

/*-------------------------------------------
[start] ENGLISH AND OTHER LANGUAGES:
-------------------------------------------*/
.english__textframe {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9; /* обознаячить границу подложки под текст */
    border-radius: 10px; /* скруглить углы подложки */
    margin-top: 20px; /* отступить сверху */
}

.english__list {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
}

/*-------------------------------------------
[end] ENGLISH AND OTHER LANGUAGES:
-------------------------------------------*/

/*-------------------------------------------
[start] MY CONTACTS:
-------------------------------------------*/
.mycontacts__textframe {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9; /* обознаячить границу подложки под текст */
    border-radius: 10px; /* скруглить углы подложки */
    margin-top: 20px; /* отступить сверху */
    margin-bottom: 60px;
}

.mycontacts__list {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 30px;
}
/*-------------------------------------------
[end] MY CONTACTS:
-------------------------------------------*/


/*-------------------------------------------

[end] COLUMNT RIGHT ->

-------------------------------------------*/


/*-------------------------------------------

[start] FOOTER ->

-------------------------------------------*/
.footer__inner {
    background-color: #D9D9D9;
    border: 1px solid #D9D9D9;
    border-radius: 20px 20px 0 0;
    max-width: 1200px;
    margin: 0 auto;
    
}


.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.mygithub__icon {
    width: 55px;
    height: 55px;
    margin-left: 50px;
    margin-top: 22px;
    margin-bottom: 23px;
    margin-right: 50px;
}


.rsschool__stage0_icon {
    width: 113px;
    height: 42px;
    margin-left: 0px;

}

.year {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-left: 305px;
}


/*---------------[start]---------------------
---------------------------------------------
------------- MEDIA QUERIES -----------------
---------------------------------------------
-------------------------------------------*/

@media (max-width: 1200px){
    .header__photoline {
        display: block;
    }

    .photoline__photo {
        text-align: center;
        margin: 10px;
    }

    .photo-img {
        margin: 0;
        /* padding-top: 20px; */
    }
    
    .photoline__name-text {
        display: block;
        text-align: center;
        /* margin 0; */
    }

    .first_name {
        margin: 0;
    }

    .last_name {
        margin: 0 0 0 20px;
    }

    .description__column_left {
        margin: 0 10px 0 20px;
    }

    .description__column_right {
        margin: 0 20px 0 10px;
    }

    .education__list,
    .mycontacts__list {
        margin: 20px;
        padding: 0 0 0 20px;
    }

    .colledge__list,
    .courses__list {
        padding: 0 0 0 20px;
    }
}

@media (max-width: 900px){
    .header__upline {
        border-radius: 0;
    }

    #about_me {
        border-radius: 0;
    }

    #my_contacts {
        border-radius: 0;
    }
    
    
    .menu__list {
        display: block;
        padding: 10px;
        text-align: center;
    } 
    
    
    .menu__link {
        display: block;
        padding: 0;
    }
    
    
    .header__photoline {
        display: block;
    }

    .photo-img {
        margin: 0;
    }
    
    .photoline__name-text {
        display: block;
        /* margin: 0; */
    }

    .first_name {
        margin: 0;
    }

    .last_name {
        margin: 0;
    }
}


@media (max-width: 780px){
    .header__photoline {
        display: block;
    }

    .photo-img {
        margin: 0;
    }
    
    .photoline__name-text {
        display: block;
        text-align: center;
        /* margin: 0; */
    }

    .first_name {
        margin: 0;
    }

    .last_name {
        margin: 0;
    }

    .description {
        display: block;    
    }

    .line {
        width: auto;
        margin-right: 10px;
    }

    .year {
        margin-left: 50px;
    }
}

@media (max-width: 500px){
    .header__photoline {
        display: block;
    }

    .photo-img {
        width: 300px;
        height: 300px;
        margin: 0;
    }
    
    .photoline__name-text {
        display: block;
        /* margin: 0; */
    }

    .first_name,
    .last_name {
    color: #000000;
    font-family: 'Belanosima', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin: 0;
    }
}

@media (max-width: 440px){
    .mycontacts__list {
        font-size: 16px;
        line-height: 30px;
    }

    .footer__inner {
        border-radius: 0;
    }

    .footer__list {
        display: block;
        text-align: center;
    }

    .footer__list-item {
        margin: 10px 0 10px 0;
    }

    .year {
        margin: 40px 0 40px 0;
        padding-top: 40px 0 40px 0;
    }
}


/*-------------------------------------------
---------------------------------------------
------------- MEDIA QUERIES -----------------
---------------------------------------------
------------------[end]--------------------*/